* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

body {
    overflow-x: hidden;
}


/* 헤더 시작 */
header {
    background-color: darkgreen;
    position: fixed;
    width: 100%;
    height: 130px;
    color: white;
    z-index: 2;
}

header img {
    width: 200px;
    margin: 30px;
    float: left;
}

/* dropdown */
.drop-main,
.drop-sub {
    display: flex;
    justify-content: end;
}

.drop-main>li,
.drop-sub>ul>li>a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.drop-main>li {
    transform: translateY(40px);
    font-size: 25px;
}

.drop-main>li,
.drop-sub ul {
    width: 18%;
}

.drop-sub {
    height: 0;
    overflow: hidden;
}

/* hover 이벤트 */
header:hover {
    background-color: white
}

header:hover .drop-main>li,
.drop-sub>ul>li>a {
    color: darkgreen;
}

header:hover .drop-main>li {
    transform: translateY(0);
}

header:hover .drop-main>li::after {
    content: "";
    display: block;
    width: 90px;
    border-bottom: 1px solid green;
    margin: 0 auto;
}

header:hover .drop-sub {
    height: auto;
    overflow: auto;
}

/* /////////////////////////////////////////////////////////// */
/* 메인 스타트 */
main {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    padding-top: 150px;
}



main>h2 {
    margin: 20px;
    padding: 20px;
    text-align: left;
}

/* 전체 스타일 그리드 */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* 각 품목에 관한 스타일*/
.item-wrap {
    width: 400px;

}

.img-wrap>a>img {
    width: 350px;
    position: relative;
}

.img-wrap>a>span {
    margin: 10px;
    text-align: left;
    background-color: black;
    color: white;

}

/* best 표시 span태그 */
#best01 {
    position: absolute;
    left: 1.5%;
    font-size: 20px;
}

#best02 {
    position: absolute;
    left: 27%;
    font-size: 20px;
}

#best03 {
    position: absolute;
    left: 53%;
    font-size: 20px;
}

/* 상품설명 텍스트 */
.txt-wrap>a {
    color: black;
    text-decoration: none;
}

.txt-wrap>a>p {
    text-align: left;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 800;
    line-height: 2;
}

/* //////////////////////////////////////////////////////// */
/* 장바구니 */
#cart {
    border: 1px solid black;
    margin: 0;
    margin-right: 50px;
}

.list {
    display: flex;
    font-size: 20px;

}

.list>img {
    width: 100px;
}