* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

body {
    overflow-x: hidden;
}

/* 헤더 시작 */
header {
    background-color: darkgreen;
    position: fixed;
    width: 100%;
    height: 130px;
    color: white;
    z-index: 2;
}

header img {
    width: 200px;
    margin: 30px;
    float: left;
}

/* dropdown */
.drop-main,
.drop-sub {
    display: flex;
    justify-content: end;
}

.drop-main>li,
.drop-sub>ul>li>a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.drop-main>li {
    transform: translateY(40px);
    font-size: 25px;
}

.drop-main>li,
.drop-sub ul {
    width: 18%;
}

.drop-sub {
    height: 0;
    overflow: hidden;
}

/* hover 이벤트 */
header:hover {
    background-color: white
}

header:hover .drop-main>li,
.drop-sub>ul>li>a {
    color: darkgreen;
}

header:hover .drop-main>li {
    transform: translateY(0);
}

header:hover .drop-main>li::after {
    content: "";
    display: block;
    width: 90px;
    border-bottom: 1px solid green;
    margin: 0 auto;
}

header:hover .drop-sub {
    height: auto;
    overflow: auto;
}


/* 메인 */
main {
    padding-top: 150px;
    font-size: 30px;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: space-around;
}


main h1 {
    margin-bottom: 30px;
}

main>p {
    margin-bottom: 30px;
}

/* 영양 성분표 */
.tableContainer {
    width: 350px;
    height: 650px;
    padding: 20px 50px;
    border: 1px solid black;

}

main table {
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    line-height: 2;
}

caption {
    font-weight: bold;
    font-size: 45px;

}

.t_value {
    text-align: end;
}

tr {
    border-bottom: 1px solid gray;
}

.bor {
    border-bottom: 10px solid gray;
}

td {
    text-align: left;
}

span {
    color: gray;
    font-weight: 400;
}

.sub {
    padding-left: 25px;
    font-size: 0.8em;
}

/* 그래프 */
.barContainer {
    width: 400px;
}

.barHead {
    display: flex;
    justify-content: space-between;
}

.barContainer span {
    color: darkgreen;
    font-size: 0.7em;
}

.barCaption {
    padding-left: 15px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    line-height: 1.5;

}

.barSmall {
    font-size: 0.5em;
    color: gray;
}

i {
    font-size: 0.5em;
    color: gray;
}

.bar1 {
    width: 100%;
    height: 50px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 5px 0 gray;
    margin-bottom: 20px;
}

.bar2 {
    width: 39%;
    height: 50px;
    background: red;
    background: linear-gradient(to right, orange, red);
    position: absolute;
}

.a_2 {
    width: 80%;
}

.a_3 {
    width: 81%;
}

.a_4 {
    width: 67%;
}

/* 원형 차트 */
.chartContainer {
    width: 480px;
}

.chartCaption {
    padding-right: 5px;
    padding-left: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    line-height: 1.5;
    margin-bottom: 30px;
}



.chart {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(orange 0% 77%, yellow 77% 91%, green 91% 96%, blue 96% 98%, gray 98% 100%);
}

.chartCenter {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    top: 30px;
    left: 30px;
    background-color: white;
}

.chartContainer ul {
    margin-top: 20px;
}

.chartContainer li {
    display: list-item;
    list-style-type: disc;
    text-align: left;
}

.chartContainer ul #orange::marker {
    color: orange;
}

.chartContainer ul #yellow::marker {
    color: yellow;
}

.chartContainer ul #green::marker {
    color: green;
}

.chartContainer ul #blue::marker {
    color: blue;
}

.chartContainer ul #gray::marker {
    color: gray;
}

/* 짜장면 그래프 */

#jajangMyeon .bar2 {
    width: 40%;
    height: 50px;
    background: red;
    background: linear-gradient(to right, orange, red);
    position: absolute;
}

#jajangMyeon .a_2 {
    width: 36%;
}

#jajangMyeon .a_3 {
    width: 103%;
}

#jajangMyeon .a_4 {
    width: 68%;
}

/* 짜장면 차트 */

.chart {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(orange 0% 72%, yellow 72% 92%, green 92% 95%, blue 95% 98%, gray 98% 100%);
}

.chartCenter {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    top: 30px;
    left: 30px;
    background-color: white;
}