* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

/* 헤더 시작 */
header {
    background-color: darkgreen;
    position: fixed;
    width: 100%;
    height: 150px;
    color: white;
    z-index: 2;
    text-align: center;
}

header img {
    width: 75px;
    margin: 30px;
    float: left;
}

/* dropdown */
.drop-main,
.drop-sub {
    display: flex;
    justify-content: end;
}

.drop-main>li,
.drop-sub>ul>li>a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.drop-main>li {
    transform: translateY(40px);
    font-size: 25px;
}

.drop-main>li,
.drop-sub ul {
    width: 18%;
}

.drop-sub {
    height: 0;
    overflow: hidden;
}

/* hover 이벤트 */
header:hover {
    background-color: white
}

header:hover .drop-main>li,
.drop-sub>ul>li>a {
    color: darkgreen;
}

header:hover .drop-main>li {
    transform: translateY(0);
}

header:hover .drop-main>li::after {
    content: "";
    display: block;
    width: 90px;
    border-bottom: 1px solid green;
    margin: 0 auto;
}

header:hover .drop-sub {
    height: auto;
    overflow: auto;
}



/* 메인 */
main {
    padding-top: 150px;
    font-size: 30px;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: space-around;
}

/* 영양 성분표 */
.tableContainer {
    width: 350px;
    height: 650px;
    padding: 20px 50px;
    border: 1px solid black;

}

main table {
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    line-height: 2;
}

caption {
    font-weight: bold;
    font-size: 45px;

}

.t_value {
    text-align: end;
}

tr {
    border-bottom: 1px solid gray;
}

.bor {
    border-bottom: 10px solid gray;
}

span {
    color: gray;
    font-weight: 400;
}

.sub {
    padding-left: 25px;
    font-size: 0.8em;
}

/* 그래프 */
.progressbar {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, darkgreen 0 39%, black 39% 100%);
    font-weight: 600;
    font-size: .8rem;
    /* background-color: blueviolet; */
}